############################################
#   Ignore compiled stuff                  #
############################################
_site
.sass-cache

############################################
#   Ignore tools                           #
############################################
*.sh