############################################
#   Ignore compiled stuff                  #
############################################
_site
.sass-cache
.jekyll-cache

############################################
#   Ignore tools                           #
############################################
*.sh
.idea
.vs
.DS_Store
