#content
{
    margin-top:20px;

    h3, h4, h5
    {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .content
    {
        margin-top:20px;
    }

    .post
    {

    }
}

body
{
    overflow-y: scroll;
}

.footnotes
{
    margin-top: 40px;
}

.post-metadata
{
    margin-bottom: 40px;
}

figure.highlight
{
    margin-bottom: 20px;
}
