@import "_breakpoints";

body {
  overflow-y: scroll;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#main {
  width: 100%;
  max-width: $width;
}

#header {
  margin-top: 20px;
  padding: 0 1em 1em 1em;
}

#content {
  margin: 2em 1em;
}

li {
  margin-bottom: 5px;
}

ul.roomy-list > li {
  margin-bottom: 10px;
}

// syntax highlighting
pre.highlight {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding: 10px;
  font-size: .9rem;
  border-radius: 2px;
  overflow: auto;

  @media(min-width: $width) {
    margin-left: max(calc(-1*(100vw - #{$width})/2), -100px);
    margin-right: max(calc(-1*(100vw - #{$width})/2), -100px);
  }
}
