@import "_colors";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 1em;
}

a {
  color: $green;
  text-decoration: none;

  &:hover {
    color: $lightgreen;
  }
}

h1, h2, h3, h4, h5 {
  color: $lightgreen;
  font-weight: 500;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.25em;
}

.text-justify {
  text-align: justify;
}
