<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}en{% endif %}">
{% include head.html %}

<body>
<div id="main">
    <div id="header">
        <a class="pill{% if page.type == 'home' %} active{% endif %}" href="/">
            Home
        </a>
        <a class="pill{% if page.type == 'blog' %} active{% endif %}" href="/blog">
            Blog
        </a>
        <a class="pill{% if page.type == 'talks' %} active{% endif %}" href="/talks">
            Talks
        </a>
    </div>
    <hr />
    <div id="content">
        {{ content }}
    </div>
</div>
{% include service_worker.html %}
</body>

</html>